@tailwind base;
@tailwind components;
@tailwind utilities;

* {

    @apply m-0 p-0 capitalize box-border text-white
}

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-gray-900 
}

body::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    @apply bg-slate-500/50
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(white, #FF5B4E);
    border-radius: 10px;
    height: 12px;


}

li a {
    @apply font-semibold py-1 px-2 rounded-xl transition-all
}

li a:hover {
    @apply bg-white text-black
}

h1 {
    @apply text-2xl md:text-4xl font-bold font-serif text-white
}

.retrogrid>div {
    @apply rounded-lg border-2 border-gray-700 p-5 lg:p-5 w-full overflow-hidden
}

.retrogrid p {
    @apply text-white font-bold text-lg lg:text-2xl
}



.gradintanimation::after {
    content: '';
    animation: spin 5s infinite linear;

    @apply absolute h-[250%] w-[150%] bg-gradient-to-tr from-green-600 to-blue-600 -z-10
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.animation {
    transform: translateX(0);
    animation: scroll 15s linear infinite;

}

@keyframes scroll {

    to {
        transform: translateX(-100%);
    }
}

.animation2 {
    transform: translateX(0);
    animation: scroll2 10s linear infinite;

}

@keyframes scroll2 {

    to {
        transform: translateX(100%);
    }
}

.gradient::before {
    content: "";
    @apply absolute left-0 top-2/4 -translate-y-2/4 z-30 h-[150%] w-5 bg-gradient-to-r from-slate-800 to-transparent
}

.gradient::after {
    content: "";
    @apply absolute right-0 top-2/4 -translate-y-2/4 h-[150%] w-5 bg-gradient-to-l from-slate-800 to-transparent
}

form input {
    @apply h-9 w-80 rounded-md px-2 bg-slate-900
}

.backgrountgradient {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, #FFFFFF 0%, #FF5B4E 90%);

}

.gradientforp {
    background-image: linear-gradient(109.7deg, white 0%, #FF5B4E 90%);
}

.gridentborder {

    border-image-source: linear-gradient(109.7deg, white 0%, #FF5B4E 90%);
    border-image-slice: 1;
}

.foooterimagg {
    mask-image: radial-gradient(50% 50% at bottom center, black, transparent);
}

.tepanimation {
    transform: translateX(0);
    animation: ftepani 10s linear infinite;
}

@keyframes ftepani {

    to {
        transform: translateX(-25%);
    }
}

.tep::before {
    content: "";
    @apply absolute left-0 top-2/4 -translate-y-2/4 z-30 h-[150%] w-10 bg-gradient-to-r from-white to-transparent
}

.tep::after {
    content: "";
    @apply absolute right-0 top-2/4 -translate-y-2/4 h-[150%] w-10 bg-gradient-to-l from-[#FF5B4E] to-transparent
}